/* Navigation Bar */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-style: SF Pro Text,Hanken Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    overflow-x: hidden;
}

.navbar{
    background-color:#111111;
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link.active{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 4px;
}

/* Section */
.container-fluid{
    margin: 0;
    padding: 0;
}

/* Introduction */
#introduction{
    text-align: center;
    background-color: #111111; 
    color: #ffffff;
    padding-top: 100px; 
    padding-bottom: 0;
}

#introduction .row .col-sm-12 h1{
    font-family: "eurostile",sans-serif;
}

#introduction .row .col-sm-12 h2{    
    font-weight: 300;
    line-height: 1.5;
}

#introduction .row .col-sm-12 blockquote {
    display: block;
    margin-top: 30px;
}

#introduction .row .col-sm-12 blockquote:before {
    content: '\201C';
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: #ffffff;
}

#introduction .row .col-sm-12 blockquote p{
    color: #ffffff;
    width: 50%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto; 
}

/* Skills */
#skills{
    background-color: #111111;
    color: #ffffff;
    padding-top: 100px; 
    padding-bottom: 0;
}

#skills h1{
    text-align: center;
    margin-bottom: 50px;
}

#skills .row .col-sm-5{
    margin-left: calc(100%/12);
}

/* Tech Skills */
#skills .row .col-sm-5 .webSkills img{
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    margin-right: 1rem;     
}

#skills .row .col-sm-5 .adobeSkills img{
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    margin-right: 1rem;    
}

#skills .row .col-sm-12{
    padding: 0;
    width: 100%;
}

#skills .row .col-sm-12 img{
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 10%;
    width: 80%; 
    height: auto;
}


/* Language Skills */
#skills .row .col-sm-5 .titleLanguage{
    width: calc(100%/3);
    text-align:center; 
    display: inline-block; 
    margin-bottom: 0;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

#skills .row .col-sm-5 .chart{
    margin-top: 1.5rem;
    width: calc(100%/3);
    display: inline-block;
}

/* Experience */
#experience{
    padding-top: 100px; 
    padding-bottom: 0;
}

#experience h1{
    text-align: center;
}

/* Education */
#education{
    padding-top: 100px; 
    padding-bottom: 100px;
}

#education h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

/* About */
#about{
    background-color: #111111;
    color: #ffffff;
    padding-top: 100px; 
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#about .row{
    padding-top: 100px; 
    padding-bottom: 100px; 
}

#about .row .left{
    text-align: right;
}

#about .row .left img{
    width: 13rem;
    height: 16.25rem;
}

#about .row .right{
    text-align: left;
}

#about .row .right .about-header{
    font-weight: bold;
    letter-spacing: 0.4rem;
    font-size: 1.5rem;
    line-height: 1.15;
}

#about .row .right .about-tool-header{
    font-weight: bold;
    letter-spacing: 0.2rem;
}

#about .row .right .about-tool{
    font-size: 0.75rem;
}

/* Footer */
#footer{
    background-color: #111111;
    color: #ffffff; 
}

#footer .row{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}




